.second-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table.table2 {
    border-collapse: collapse;
    width: 40%;
    margin-top:50px;
    margin-left:400px;
  }
  
  th,
  td.td2 {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 22px;
  }
  
  th {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  td.td2 {
    background-color: rgb(183, 190, 190);
    height: 50px;
  }
  td:nth-child(1).td2
  {
    background-color: rgb(14, 14, 14);
    color: white;
  }
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 25px;
  }