.menu_icon {
	color: aliceblue;
	font-size: 2rem;
	margin: 1rem;

}

.menu_bar {
	background-color: rgb(0, 0, 86);
	display: flex;
	justify-content: start;
	align-items: center;
	height: 80px;
	
}

.menu_dropdown {
	left: 0;
	display: inline-flex;
	/* justify-content: center; */
	background-color: rgb(0, 0, 111);
	text-align: left;
	width: 200px;
	transition: 200ms;
	position: fixed;
	
	top: 0;
	height: 100%;	
}


.menu_dropdown.hidden {

	/* left: -100%; */
	transform: translate(-100%, 0px);
	transition: 200ms;
}

.menu_item {
	color: aliceblue;
	font-size: 25px;
	box-sizing: border-box;
	/* margin-right: 2rem; */
	padding-right: 0;
	display: flex;
	align-items: center;
	justify-content: start;
	list-style-type: none;
	height: 50px;
	padding: 10px;
	margin: 0px;
	width: 100%;
	
}

.menu_items {
	padding-left: 0;
	width: 100%;
}
.menu_items span {
	padding-left: 10px;
}

.exit_button {
	size: 100px;
	display: flex;
	justify-self: end;
	margin-right: 0px;
}

.menu_item.hover {
	background-color: blue;
	border-radius: 10px;
}

